<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Работа с обращениями</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <style>
        A:visited {
        @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Combo&display=swap');
            color: #030303;
        }
        a:link {
            color: #030303;
        }

        A {
            text-decoration: #00a6ff;
        }
        A:hover {
            text-decoration: underline;
            color: #169663;
        }

        .h1 {
            color: #169663;
            font-size: xxx-large;
            font-family: 'Combo', cursive;
            text-shadow: 5px 5px 2px #a1e5c1;
        }

        .h2 {
            color: #59c097;
            text-align-last: center;
        }

    </style>

</head>

<header class="header">
    <div class="container header__container">
        <div>
            <h1 class="h1">Service Desk</h1>
        </div>

        <nav class="navigation">
            <a th:href="@{/main}">Главное меню</a>
            <a th:href="@{/register}">Добавить пользователя</a>
            <a th:href="@{/history}">История</a>
            <a th:href="@{/logout}">Выход из системы</a>
            <br><br>
        </nav>
    </div>
</header>

<body>

<h2 class="h2" th:align="center"> Обновить данные пользователя </h2>

<main class="main" >
    <div class="container main__container" th:style="'background-image:url(' + @{img/00.jpg} + '); background-repeat: no-repeat, repeat;'">


                <form method="post" role="form" th:action="@{/user/save/{id}(id=${user.id})}" th:object="${user}">

                    <div class="form-group mb-3">
                        <label class="form-label">Имя</label>
                        <input class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="Введите имя"
                               th:field="*{name}"
                               type="text"
                        />
                        <p th:errors="*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Фамилия</label>
                        <input class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Введите фамилию"
                               th:field="*{lastname}"
                               type="text"
                        />
                        <p th:errors="*{lastname}" class="text-danger"
                           th:if="${#fields.hasErrors('lastname')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Логин</label>
                        <input class="form-control"
                               id="login"
                               name="login"
                               placeholder="Введите логин"
                               th:field="*{login}"
                               type="text"
                        />
                        <p th:errors="*{login}" class="text-danger"
                           th:if="${#fields.hasErrors('login')}">
                        </p>
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control"
                               id="email"
                               name="email"
                               placeholder="Введите email"
                               th:field="*{email}"
                               type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" >Пароль</label>
                        <input class="form-control"
                               id="password"
                               name="password"
                               placeholder="Введите пароль"
                               th:field="*{password}"
                               type="text"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label">Подразделение</label>
                        <p><select id='department' th:field="*{department}">
                            <option value="Организационный отдел">Организационный отдел</option>
                            <option value="Управление цифрового развития">Управление цифрового развития</option>
                            <option value="Отдел поддержки внутренних пользователей">Отдел поддержки внутренних пользователей</option>
                            <option value="Операционное управление">Операционное управление</option>
                            <option value="Управление кассовых операций">Управление кассовых операций</option>
                            <option value="Бухгалтерия">Бухгалтерия</option>
                        </select><br>
                        <p th:errors="*{department}" class="text-danger"
                           th:if="${#fields.hasErrors('department')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Должность</label>
                        <input class="form-control"
                               id="position"
                               name="position"
                               placeholder="Введите должность"
                               th:field="*{position}"
                               type="text"
                        />
                        <p th:errors="*{position}" class="text-danger"
                           th:if="${#fields.hasErrors('position')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Телефон</label>
                        <input class="form-control"
                               id="telephone"
                               name="telephone"
                               placeholder="Введите номер телефона"
                               th:field="*{phone}"
                               type="text"
                        />
                        <p th:errors="*{phone}" class="text-danger"
                           th:if="${#fields.hasErrors('phone')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Обновить</button>

                    </div>
                </form>
        </div>

</main>
</body>
</html>