<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <title>Работа с обращениями</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    A:visited {
    @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Combo&display=swap');
      color: #030303;
    }
    a:link {
      color: #030303;
    }

    A {
      text-decoration: #169663;
    }
    A:hover {
      text-decoration: underline;
      color: #169663;
    }

    .h1 {
      color: #169663;;
      font-size: xxx-large;
      font-family: 'Combo', cursive;
      text-shadow: 5px 5px 2px #a1e5c1;
    }

    .h2 {
      color: #59c097;
      text-align-last: center;
    }

  </style>

</head>

<header class="header">
  <div class="container header__container">
    <div>
      <h1 class="h1">Service Desk</h1>
    </div>

    <nav class="navigation">
      <a th:href="@{/main}">Главное меню</a>
      <a th:href="@{/register}">Добавить пользователя</a>
      <a th:href="@{/history}">История</a>
      <a th:href="@{/logout}">Выход из системы</a>
      <br><br>
    </nav>
  </div>
</header>

<body>

<main class="main" >
  <div class="container main__container" th:style="'background-image:url(' + @{img/00.jpg} + '); background-repeat: no-repeat, repeat;'">

    <h2 class="h2" th:align="center"> Пользователи </h2>

  <table th:width="1100" class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>
        <a style="color: white" th:href="@{'/users/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
          Имя</a>
      </th>
      <th>
        <a style="color: white" th:href="@{'/users/page/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDir}}">
          Фамилия</a>
      </th>
      <th>
        <a style="color: white" th:href="@{'/users/page/' + ${currentPage} + '?sortField=login&sortDir=' + ${reverseSortDir}}">
          Логин</a>
      </th>
      <th>
        <a style="color: white" th:href="@{'/users/page/' + ${currentPage} + '?sortField=department&sortDir=' + ${reverseSortDir}}">
          Подразделение</a>
      </th>
      <th>
        <a style="color: white" th:href="@{'/users/page/' + ${currentPage} + '?sortField=position&sortDir=' + ${reverseSortDir}}">
          Должность</a>
      </th>
      <th>
        <a style="color: white" th:href="@{'/users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
          Email</a>
      </th>
      <th>
        <a style="color: white" th:href="@{'/users/page/' + ${currentPage} + '?sortField=phone&sortDir=' + ${reverseSortDir}}">
          Телефон</a>
      </th>
      <th>
        Действия
      </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${listUsers}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.lastname}"></td>
      <td th:text="${user.login}"></td>
      <td th:text="${user.department}"></td>
      <td th:text="${user.position}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.phone}"></td>
      <td><a th:href="@{/user/update/{id}(id=${user.id})}" >Обновить</a>
        <a th:href="@{/user/delete/{id}(id=${user.id})}" >Удалить</a>
      </td>

    </tr>
    </tbody>
  </table>

    <div th:if="${totalPages > 1}">
      <div class="row col-sm-10">
        <div class="col-sm-5">
          Всего пользователей: [[${totalItems}]]
        </div>
        <div class="col-sm-3">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}"
                           th:href="@{'/users/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </span>
        </div>

    </div>
  </div>
  </div>

</main>
</body>
</html>